@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer {
    background-color: #232330;
    min-height: 300px;
    font-family: 'Open Sans', sans-serif;
}

.footerleft {
    margin-top: 40px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 40px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #080808;
    ;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}

#minicart {
    width: 400px;
}

body {
    background-color: #fefefe;
    color: #656565;
    /*padding-top:43px;*/
}


/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}


/* Sticky footer styles
--------------------------------------------------  */

html,
body {
    height: 100%;
}


/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    top: -48px;
}


/* Set the fixed height of the footer here */

#push,
#footer {
    height: 180px;
    margin-top: 20px;
}

#footer {
    background-color: #f2f2f2;
    color: #777;
    padding: 20px;
}

#footer a {
    color: #808080;
}

#footer a:hover {
    color: #666;
    text-decoration: none;
    margin-left: -1px;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

a:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-weight: 300;
}

.letterpress {
    color: #ececec;
}

h1.letterpress {
    /*text-shadow: 0 1px 0 #ffffff;*/
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    height: auto;
    max-height: 165px !important;
    overflow-x: hidden;
}


/* bootstrap overrides */

.navbar-inverse {
    background: #0c1a1e;
    padding-top: 5px;
    padding-bottom: 3px;
}

.navbar-inverse .navbar-inner {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border-width: 0;
}

.navbar-inverse .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-width: 6px;
    margin-top: 6px;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar .brand {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 9px;
    margin-right: 0;
    margin-left: 0;
    color: #f5f5f5;
}

.navbar .brand:hover {
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);*/
}

.navbar .btn {
    background-color: #535368;
    background-image: none;
    border-color: transparent;
    color: #e6e6e6;
    text-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.navbar .btn:hover {
    color: #f2f2f2;
    background-color: #313146;
}

.navbar-inverse .nav>li>a {
    color: #e2e2e2;
}

.navbar-inverse .nav>li>a:hover,
.navbar-inverse .nav>li>a:focus {
    color: #efefef;
    background: #353549;
}

.nav-pills .dropdown-menu {
    margin-top: 4px;
}

@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav>li>a,
    .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #dddddd;
    }
}

.navbar .input-append input[type=text] {
    background-color: #313146;
    border-color: transparent;
    font-size: 12px;
    color: #eee;
    border-radius: 0;
    box-shadow: 0 0;
}

.navbar .input-append .btn {
    border-radius: 0;
}

.nav-tabs.nav-stacked>li>a {
    border-width: 0;
    border-bottom: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.well {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.accordion {
    padding: 0;
    margin: 0;
}

.accordion a {
    font-size: 13px;
}

.accordion a:hover {
    text-decoration: none;
}

.accordion-group {
    padding: 0;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #f3f3f3;
    margin-bottom: 0;
}

.accordion-heading {
    padding-left: 5px;
    margin: 0;
    background: #ffffff;
}

.accordion-heading:hover,
.accordion-group:hover {
    background: #fdfdfd;
}

.accordion-heading span {
    width: 25px;
}

.accordion-heading i {
    font-size: 20px;
    color: #fafafa;
}

.accordion-toggle {
    padding: 4px;
}

.accordion-inner {
    padding: 1px;
    padding-left: 4px;
    background: #fafafa;
}

.accordion-sub {
    border-width: 0;
    margin: 1px;
    font-size: 12px;
}

.accordion-sub .accordion-heading {
    padding: 2px;
    padding-left: 5px;
}

.accordion-sub .accordion-toggle {
    padding: 3px;
    padding-left: 7px;
}

.accordion-sub .accordion-inner {
    background: #efefef -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
    background: #efefef -moz-linear-gradient(top, #fff, #efefef);
    padding: 1px;
    border: 1px solid #ffffff;
}

.pull-center td:not(:first-child) {
    text-align: center;
    margin: 0 auto !important;
    float: none !important;
}

.pull-center {
    text-align: center;
    margin: 0 auto !important;
    float: none !important;
}

.checkbox {
    margin-left: 4px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 90%;
}

.btn-group {
    padding: 0 !important;
    margin: 0 !important;
}

.btn,
.btn-inverse,
.btn-success,
.btn-primary {
    border-radius: 2px;
    background-image: none;
}

.btn-huge {
    padding: 12px;
}


/* bootply tweaks */

button#btnSettings:hover+#btnSave {
    color: #fff;
}

.fb-like {
    margin-left: 0;
    margin-top: 9px;
}

.tw-btn {
    margin-left: 6px;
    margin-top: 9px;
    margin-right: 0;
}

.nav>li>span {
    display: block;
}

@media (max-width: 768px) {
    .navbar .brand {
        padding-left: 15px;
        padding-right: 7px;
    }
}

.show-grid [class*="span"] {
    background-color: #f2f2f2;
    padding: 2px;
}

.show-grid2 .span2 {
    font-size: 10px;
}

.label {
    font-weight: 400;
}

.badge-large,
.label-large {
    padding: 8px;
    font-size: 108%;
    margin-bottom: 3px;
}

.badge-large a,
.label-large a {
    color: #fff;
}

.carbonad {
    background: #f5f5f5 !important;
    background: rgba(240, 240, 240, 0.9) !important;
    border-width: 0 !important;
    width: 160px;
}

.ad {
    position: absolute;
    bottom: 70px;
    right: 48px;
    z-index: 120;
}

.ad-btn-hide {
    position: absolute;
    top: -10px;
    left: -12px;
    background: #fefefe;
    background: rgba(240, 240, 240, 0.9);
    border: 0;
    border-radius: 26px;
    cursor: pointer;
    padding: 0;
    height: 25px;
    width: 25px;
    font-size: 19px;
}

.carbon-img {
    float: left;
    padding: 10px;
}

.carbon-text {
    color: #888;
    display: inline-block;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
    height: 60px;
    margin-left: 9px;
    width: 142px;
    padding-top: 10px;
}

.carbon-text:hover {
    color: #eee;
}

.carbon-poweredby {
    color: #6A6A6A;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 13px;
    text-align: center;
}

#carbonads {
    background-color: #e8e8e8;
    background-color: rgba(245, 245, 245, 0.9);
    height: 123px;
    line-height: 1.2;
    width: 300px;
    padding: 4px;
    border: 1px dashed #ddd;
    margin: 0 auto;
    text-align: left;
}

#carbonads .carbon-wrap {
    padding: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#carbonads .carbon-img {
    float: left;
    height: 100px;
    width: 130px;
}

#carbonads .carbon-text {
    color: #545454;
    float: left;
    font-weight: 400;
    margin-left: 1px;
}

#carbonads .carbon-poweredby {
    color: #999;
    float: left;
    font-weight: 400;
    padding-left: 0;
    padding-top: 15px;
    font-size: 11px;
    margin-left: 2px;
}

.bsad,
.navbar>li .bsad {
    font-size: 12px;
    margin-left: 20px;
    line-height: 38px;
}

.bsad:before {
    margin-right: 0;
    padding: 2px 6px;
    border-radius: 3px;
    background: #3bd88a;
    color: #fff;
    content: "Ad";
}

.bsad>a {
    text-decoration: none;
    margin-left: 3px;
    color: #eee;
}