﻿@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!----------------------SEARCH-->
    <div class="col-md-3">
        <h4>Search</h4>
        <div class="well" id="searchMenu">
            <form class="form-inline">
                <div class="form-group" style="margin-top:6px;margin-bottom:6px;">
                    <label for="exampleInputName2">Category:</label>
                    <select class="form-control" style="width:90%;">
                        <option>Sneakers</option>
                        <option>Shoes</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
        <div class="categories-menu row">
            <h4>Categories</h4>
            <div id="categoriesMenuContent">
                <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    ApparelsAndAccesories
                </div>
            </div>
        </div>
    </div>
    <!----------------------ITEMS-->
    <div class="col-md-9">
        <!--Pagination-->
        <div class="row">
            <div class="col-sm-4">
                <div class="btn-group sort-group pagination  top-pagination" style="margin-top:0px;margin-bottom:0px;">
                    <button class="btn btn-default no-action disabled">«</button>
                    <button class="btn btn-default btn-sort active" type="Submit" name="wp" value="1">1</button>
                    <button class="btn btn-default btn-sort " type="Submit" name="wp" value="2">2</button>
                    <button class="btn btn-default btn-sort " type="Submit" name="wp" value="3">3</button>
                    <button class="btn btn-default btn-sort " type="Submit" name="wp" value="4">4</button>
                    <button class="btn btn-default btn-sort" type="Submit" name="wp" value="2">»</button>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <hr class="featurette-divider" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="row productList">
            <!--Products begin-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$24.99</h4>
                        <h4>
                            <a href="#">First Product</a>
                        </h4>
                        <p>See more snippets like this online store item at </p>
                    </div>
                    <div class="row-fluid">
                        <div class="pull-left">
                            <button type="button" class="btn btn-block btn-default" style="padding-left:20px;padding-right:20px;">
                                <span class="glyphicon glyphicon-star" aria-hidden="true">
                                </span>
                            </button>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn  btn-block btn-default" style="background-color:#ff670f; padding-left:20px;padding-right:20px;">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

