﻿@*<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrapetc")
    <style type="text/css">
        body {
            background: #E0E0E0 !important;
        }
        /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top  panel-dropdown-header navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding-top: 0px;" href="jshfjsfh">
                    <img style="width: 50px;" src="brand.png" class="img-responsive img-circle" alt="Image">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" style="text-transform: uppercase;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#footwear" class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Footwear <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><b>Footwear</b></a></li>
                            <li><a href="#">Sneakers</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Plimsoles</a></li>
                            <li><a href="#">Sandals</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accessories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><b>Accessories</b></a></li>
                            <li><a href="#">Watches</a></li>
                            <li><a href="#">Wallets</a></li>
                            <li><a href="#">Sunglasses</a></li>
                        </ul>
                    </li>
                    <li><a href="#sale" style="color: red">Sale</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right navbar-right">
                    <li>
                        <a class="wishlist" href="#">
                            <i class="icon-star-empty icon-large"></i> Wishlist
                        </a>
                    </li>
                    <li class="dropdown open" id="miniCart">
                        <a class="dropdown-toggle" href="/cart" data-toggle="dropdown" id="navCart"><i class="icon-shopping-cart icon-large"></i> Cart <span class="badge">1</span></a>
                        <div class="dropdown-menu" style="padding:17px;">
                            <form id="formLogin" class="form">
                                <div class="btn-group" style="width:100%">
                                    <a href="/cart/" type="button" class="btn btn-default btn-block">View cart</a>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown open" id="menuLogin">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a>
                        <div class="dropdown-menu" style="padding:17px;">
                            @Html.Partial("_LoginPartial")
                            <form><a href="#" id="btnNewUser" data-toggle="collapse" data-target="#formRegister">New User?  Sign-up</a></form>
                            @Html.Partial("_RegisterPartial")
                        </div>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="container-fluid" style="padding-top:70px;padding-left: 0px;padding-right: 0px;">
            @RenderBody()
        </div>
    </div>
    <!--footer start from here-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 footerleft ">
                    <div class="logofooter"> Logo</div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                    <p><i class="fa fa-map-pin"></i> 630058, Nsk, Rus. 9</p>
                    <p><i class="fa fa-phone"></i> Phone : +7 (999) 999 99 99</p>
                    <p><i class="fa fa-envelope"></i> E-mail : info@site.com</p>
                </div>
                <div class="col-md-2 col-sm-6 paddingtop-bottom col-xs-push-1">
                    <ul class="footer-ul">
                        <li><a href="#"> F.A.Q.</a></li>
                        <li><a href="#"> Delivery & Payment</a></li>
                        <li><a href="#"> Exchange & Refund</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom">
                </div>
            </div>
        </div>
    </footer>
    <!--footer start from here-->
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© Store, 2016</p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">F.A.Q.</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>