﻿@model  Shop.WebUI.Models.SignInViewModel
@using (Html.BeginForm())
{
    <label>Login</label>
    <div class="form-group">
        @Html.LabelFor(model => Model.Login, "Login")
        @Html.EditorFor(model => Model.Login, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "Login" } })
        @Html.ValidationMessageFor(model => Model.Login)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.Password, "Password")
        @Html.EditorFor(model => Model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Password..." } })
        @Html.ValidationMessageFor(model => Model.Password)
    </div>
    <button class="btn" type="submit">Sign In</button>
}