﻿@{
    ViewBag.Title = "_RegisterPartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Shop.WebUI.Models.RegistrationViewModel
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => Model.Email, "Email")
        @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "Email" } })
        @Html.ValidationMessageFor(model => Model.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.Login, "Login")
        @Html.EditorFor(model => Model.Login, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "Login" } })
        @Html.ValidationMessageFor(model => Model.Login)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.Password, "Password")
        @Html.EditorFor(model => Model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Password..." } })
        @Html.ValidationMessageFor(model => Model.Password)
    </div>
    <button class="btn" type="submit">Sign up</button>
}