﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img_chania.jpg" alt="Chania" width="460" height="345">
            <div class="carousel-caption">
                <h3>Chania</h3>
                <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
        </div>
        <div class="item">
            <img src="img_chania2.jpg" alt="Chania" width="460" height="345">
            <div class="carousel-caption">
                <h3>Chania</h3>
                <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
        </div>
        <div class="item">
            <img src="img_flower.jpg" alt="Flower" width="460" height="345">
            <div class="carousel-caption">
                <h3>Flowers</h3>
                <p>Beatiful flowers in Kolymbari, Crete.</p>
            </div>
        </div>
        <div class="item">
            <img src="img_flower2.jpg" alt="Flower" width="460" height="345">
            <div class="carousel-caption">
                <h3>Flowers</h3>
                <p>Beatiful flowers in Kolymbari, Crete.</p>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!---end carousel-->
<hr class="featurette-divider" style="margin-top: 10px; margin-bottom: 10px;">
<!-------NEWS-->
<div class="container-container-fluid" style="padding-left:10px;">
    <div class="row-fluid">
        <div class="container-fluid">
            <div class="col-md-4">
                <img class="img-responsive " src="brand.png" alt="" style="height:500px;">
            </div>
            <div class="container-fluid" style="margin-top:0px;">
                <div class="col-md-4">
                    <div class="row-fluid">
                        <img class="img-responsive " src="brand.png" alt="" style="width:200px;padding:10px;">
                        <h3>Date</h3>
                        <h5 style="margin-bottom: 30px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive " src="brand.png" alt="" style="width:200px;padding:10px;">
                    <h3>Date</h3>
                    <h5 style="margin-bottom: 30px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum
                    </h5>
                </div>
                <div class="btn-group span8">
                    <div class="btn btn-default btn-block" style="padding:10px; text-align: center; height:50px;">
                        See all news
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>